{% extends "encyclopedia/layout.html" %}

{% block body %}

<h1>Cretae New Page</h1>
<form method="POST">
{% csrf_token %}

    <div>
        <label for="title">Page Title:</label>
        <input type="text" id="title" name="title" required>
    </div>

    <div>
        <label for="content">Content:</label>
        <textarea type="text" name="content" rows="15" cols="50" required></textarea>
    </div> 

    <button type="submit">Save Page</button>
    <a href="{% url 'index' %}">Cancel</a>
</form>
{% if error %}
     <div class="error">{{ error }}</div>
{% endif %}

{% endblock %}