{% extends "encyclopedia/layout.html" %}
{% block body %}

<h1>Edit {{ title }} </h1>
<form method="POST">
{% csrf_token %}

    <input type="hidden" name="title" value="{{ title }}">

    <div>
        <label for="content">Content:</label>
        <textarea type="text" name="content" rows="20" cols="80" required>{{ content }}</textarea>
    </div> 

    <button type="submit">Save Changes</button>
    <a href="{% url 'entry' title %}">Cancel</a>
</form>
{% if error %}
     <div class="error">{{ error }}</div>
{% endif %}

{% endblock %}